services:

  restyaboard:
    image: restyaplatform/restyaboard:dev
    ports:
      - "8200:80"
    volumes:
      - ./restya/media:/var/lib/nginx/html/media
    environment:
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      - POSTGRES_ADMIN_USER=postgres
      - POSTGRES_ADMIN_PASS=admin
      - RESTYA_DB_USERNAME=restya
      - RESTYA_DB_USERPASS=restya
      - RESTYA_DB=restyaboard
      #- SMTP_SERVER=smtp_relay
      #- SMTP_PORT=587      
      - TZ=Europe/Madrid
    depends_on:
      - postgres
    restart: unless-stopped

  # See https://hub.docker.com/r/boky/postfix for documentation
  # or try https://github.com/WeAreGenki/docker-smtp
  smtp_relay:
    image: boky/postfix
    environment:
      - RELAYHOST=fakesmtp2:25
      - ALLOW_EMPTY_SENDER_DOMAINS=true
      
  # Check messages at localhost:1080
  fakesmtp2:
    image: tophfr/mailcatcher
    ports:
      #- "1025:25"
      - "1080:80"

  postgres:
    image: postgres:12-alpine
    volumes:
      - /var/opt/restya/data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=admin

    restart: unless-stopped
